
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f9;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #af4c63;
    color: white;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ddd;
}

.cart-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item p {
    margin: 0;
}

.cart-summary {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.cart-summary button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #adaf4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-summary button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #020e02;
    color: white;
    font-size: 14px;
    margin-top: auto;
}
