
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e21f0d;
    color: rgb(247, 245, 245);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f8f8f8;
}

.hero-section {
    text-align: center;
    background: linear-gradient(rgba(232, 7, 165, 0.7), rgba(76, 175, 80, 0.7)), url('16410311-crop.jpg') center/cover;
    color: white;
    padding: 60px 20px;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 20px;
    margin-bottom: 20px;
}

.featured-flowers {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.featured-flowers h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #4CAF50;
}

.flower-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.flower-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
}

.flower-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.flower-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.flower-card h3 {
    font-size: 22px;
    color: #4CAF50;
    margin: 15px 0 5px;
}

.flower-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}
.shop-now-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ac26a3;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.shop-now-btn .btn:hover {
    background-color: #1a0119;
}







